
/* stylelint-disable selector-list-comma-newline-after */
.body {
  background-color: #eeeeee!important;
}

.blog-header {
  line-height: 1;
  border-bottom: 5px solid #FFCD00;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}



h1 {
  font-family: "Arial";
  color: #003d86;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
}

h2 {
  font-family: "Arial";
  color: #003d86;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: bold;
}

h3 {
  font-family: "Arial";
  color: #003d86;
  font-size: 14pt;
}

p {
  font-family: "Verdana";
  color: #295785;
  font-size: 1em;
  line-height: 24px;
}

.col p {
  font-size: .8em;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.bg-anwb {
/* The image used */
  background-image: url("../assets/anwb_beeld.jpg");

  /* Full height */
  height: 600px;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .25rem!important;
}

.bg-anwb img {

        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
}

.gif img {
  width: 20%;
  float: right;
}

.anwb_logo img {
  width: 30%;
}

.brake {
      line-height: 1;
    border-bottom: 5px solid #FFCD00;
}

.btn-outline-primary {
    color: #003c85;
    border-color: #ffcc00;
    background-color: #ffcc00;
}

a.btn-outline-primary:hover {
    color: #003d86;
    border-color: #ffcc00;
    background-color: #ffe680;
  }

.btn-outline-secondary {
    color: #003c85;
    border-color: #ffcc00;
    background-color: #ffe680;
}

.active {
  color: #003c85!important;
  font-weight: 500!important;
}

.footer_anwb {
  background-color: #e8f2f8
}

.footer_anwb p{
  text-align: center;
}

.footer_lm {
  background-color: #003c85;
}

.taal img {
  text-align: left;
  height: 15px;
}

.taal a {
  float: right;
  margin-left: 8px;
}

.footer_lm a {
  text-align: right;
  float: right;
  color: #fff;
  font-family: Verdana,Arial,sans-serif,ui-icons,illustrative-icons;
  line-height: 1.6;
  font-size: small;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.team p {
  line-height: 25px;
}

.team img {
  margin-bottom: 20px;
}

.index img {
  width: 100%;
}

.index_2 img {
  width: 80%;
}

.bg_anwb {
  background-color: #e8f2f8;
}

.p-6 {
  padding: 5rem!important;
}

.device-wrapper {
  max-width:100%;
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.carousel-indicators li {
  background-color: #003c85;
}

.bi {
font-size: 2em;
color: #003c85;
}

span.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23003c85' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

span.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23003c85' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
